# -----------------------------
# Miscellaneous
# -----------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -----------------------------
# IntelliJ related
# -----------------------------
*.iml
*.ipr
*.iws
.idea/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Flutter/Dart/Pub related
# -----------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# -----------------------------
# iOS related
# -----------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/Generated.xcconfig.d
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace/

# -----------------------------
# Android related
# -----------------------------
android/.gradle/
android/local.properties
android/gradle-wrapper.jar
android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# -----------------------------
# macOS related
# -----------------------------
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner/GeneratedPluginRegistrant.*

# -----------------------------
# Linux related
# -----------------------------
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h

# -----------------------------
# Windows related
# -----------------------------
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h

# -----------------------------
# Web related
# -----------------------------
web/.dart_tool/
web/.packages
web/generated_plugin_registrant.dart

# -----------------------------
# Symbolication related
# -----------------------------
app.*.symbols

# -----------------------------
# Obfuscation related
# -----------------------------
app.*.map.json

# -----------------------------
# Lock files (optional)
# -----------------------------
# Keep this if it's an APP project, ignore if it's a PACKAGE
# pubspec.lock

